@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --dark-theme-black: #242424;
    background-color: var(--dark-theme-black);

    font-size: 16px;
    font-family: Urbanist;
    font-weight: 500;
    color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
